html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.UserList {
    border-radius: 10px;
    width: 400px;
    padding: 5px;
    margin: 5px;
    background-color: #A31621;
    border: none;
    color: #fff;
}

    .UserList:hover {
        box-shadow: #A31621 0px 0px 5px;
        border: #ffffff 1px;
    }

    .UserList:focus {
        animation-duration: 1s;
        animation-name: showup;
        animation-iteration-count: infinite;
        outline: none;
    }

@keyframes showup {
    from {
        box-shadow: #A31621 0px 0px 5px;
        text-shadow: none;
    }

    to {
        box-shadow: #A31621 0px 0px 10px;
        text-shadow: #ffffff 0px 0px 5px;       
    }
}

.logzone {
    background: #ffffff;
    position: fixed;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 360px;
    z-index: 3;
    transition: width .2s linear;
    text-align: center !important;
    border-radius:10px;
}

.logzone {
    width: 480px;
}

#blackscreen {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #000000aa;
    backdrop-filter: blur( 5.0px );
}


.loader {
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #A31621;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.gametable {
    width: 100%;
    height: 100%;
    border: none;
}

.usertd {
    padding: 20px;
    width: 20%;
    background-color:chocolate;
}

.gametd {
    padding: 20px;
    width: 60%;
    background-color: aquamarine;
}

.opptd {
    padding: 20px;
    width: 20%;
    background-color: chocolate;
}

.playerboard {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

.playerinfo {
    padding: 20px;
    flex: 1 1 auto;
    text-align: center !important;
    align-self: center;
    border-radius: 10px;
    border: 1px #6cb1e0;

}
.playerinfo:hover {
    background-color: #ffffff70;
}

.enemyinfo {
    padding: 20px;
    flex: 1 1 auto;
    text-align: center !important;
    align-self: center;
    border-radius: 10px;
    border: 1px #6cb1e0;
}


#Waitingoverlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1); 
    z-index: 2; 
}

.w8room {
    background: #ffffff;
    position: fixed;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 180px;
    width: 320px;
    z-index: 3;
    transition: width .2s linear;
    text-align: center !important;
    border-radius: 10px;
}