
@{
    ViewData["Title"] = "Домашняя страница";
}
<h1>Привет, @User.Identity.Name</h1>

<a asp-controller="Account" asp-action="Logout">Я пошутил, я не @User.Identity.Name</a>


<h3>Игроки в сети:</h3>
<div id="messagesList"></div>

<div id="blackscreen" style="display:none"></div>
<div id="overlay" class="logzone" style="display:none">
    <h3 class="text-center" style="padding-top: 25px" id="text"></h3>
    <div id="loader" class="loader text-center" style="display: none"></div>
    <div id="acceptbuttons" style="display:none">
        <button id="accept">Принять</button>
        <button id="decline">Отказать</button>
    </div>
</div>

<form asp-action="Game" asp-controller="Home" hidden>
    <input type="text" id="opponentname" name="opponent" />
    <input type="text" id="gofirst" name="isgofirst" />
    <button type="submit" id="redirectbutton">submit</button>
</form>


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/PlayerHub").build();
    var user = @Html.Raw(ViewBag.user);
    var PlayerThatInvite;

    connection.on("Userslist", function (Users) {
        Users.forEach(element => AddUser(element));    
    });

    connection.on("DeleteUser", function (userName) {
        document.getElementById(userName).remove();
    });

    connection.on("InviteToGame", function (InviteSender) {
        PlayerThatInvite = InviteSender;
        on(InviteSender);
    });

    connection.on("DeclineInvite", function () {
        console.log("Приглашение отменено");
        off();       
        PlayerThatInvite = null;
    });

    connection.on("AcceptInvite", function (me,is) {     
        if(me == user){

            document.getElementById("opponentname").value = is;
            document.getElementById("gofirst").value = "youfirst";
        }    
        else{
            document.getElementById("opponentname").value = me;            
            document.getElementById("gofirst").value = "yousecond";
        }
        
        off();
        PlayerThatInvite = null;
        document.getElementById("redirectbutton").click();
    });

    connection.start().then(function () {

        connection.invoke("Connect", user).catch(function (err) {
            return console.error(err.toString());
        });

    }).catch(function (err) {
        return console.error(err.toString());
    });

    function AddUser(name) {       
        if (user != name) {
            var repeat = document.getElementById(name);
            if(!repeat){
                var input = document.createElement("input");
                document.getElementById("messagesList").appendChild(input);
                input.value = `${name}`;
                input.id = name;
                input.type = "button";
                input.className = "UserList";

                document.getElementById(name).addEventListener("click", function (event) {
                    console.log("Send invite to " + name);
                    on(name);
                    connection.invoke("SendInvite", name).catch(function (err) {
                        return console.error(err.toString());
                    });
                    event.preventDefault();
                });
            }           
        }
    }

    var accfunc = function (event) {
        var message = "accept";
        connection.invoke("InviteAction", PlayerThatInvite, message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    }

    var declfunc = function (event) {
        var message = "decline";
        connection.invoke("InviteAction", PlayerThatInvite, message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    }


    function on(Player) {
        document.getElementById("overlay").style.display = "block";
        document.getElementById("blackscreen").style.display = "block";
        var text = document.getElementById("text");

        if(Player != PlayerThatInvite){
            text.textContent = "Ожидание ответа от " + Player;
            document.getElementById("loader").style.display = "block";
        }       
        else{
            text.textContent = Player + " пригласил вас сыграть с ним!";
            document.getElementById("acceptbuttons").style.display = "block";
            document.getElementById("accept").addEventListener("click", accfunc);
            document.getElementById("decline").addEventListener("click", declfunc);
        }
    }

    function off() {
        document.getElementById("accept").removeEventListener("click", accfunc);
        document.getElementById("decline").removeEventListener("click", declfunc);
        document.getElementById("overlay").style.display = "none";
        document.getElementById("acceptbuttons").style.display = "none";
        document.getElementById("blackscreen").style.display = "none";
        document.getElementById("loader").style.display = "none";
    }

</script>

