
@{
    ViewData["Title"] = "Домашняя страница";
}
<h1>Привет, @User.Identity.Name</h1>

<a asp-controller="Account" asp-action="Logout">Я пошутил, я не @User.Identity.Name</a>

@*<div class="container">
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-6">
        <h3>Игроки в сети:</h3>
        <ul id="messagesList"></ul>
    </div>
</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/PlayerHub").build();
    var user = @Html.Raw(ViewBag.user);

    connection.on("Userslist", function (Users) {
        Users.forEach(element => AddUser(element));    
    });

    connection.on("DeleteUser", function (userName) {
        console.log("Удалю" + userName);
        document.getElementById(userName).remove();
    });


    connection.start().then(function () {

        connection.invoke("Connect", user).catch(function (err) {
            return console.error(err.toString());
        });

    }).catch(function (err) {
        return console.error(err.toString());
    });

    function AddUser(name) {       
        if (user != name) {
            var li = document.createElement("li");
            document.getElementById("messagesList").appendChild(li);

            li.textContent = `${name}`;
            li.id = name;
        }
    }

</script>

