
@{
    ViewData["Title"] = "Домашняя страница";
}
<h1>Привет, @User.Identity.Name</h1>

<a asp-controller="Account" asp-action="Logout">Я пошутил, я не @User.Identity.Name</a>


<h3>Игроки в сети:</h3>
<div id="messagesList"></div>



<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/PlayerHub").build();
    var user = @Html.Raw(ViewBag.user);

    connection.on("Userslist", function (Users) {
        Users.forEach(element => AddUser(element));    
    });

    connection.on("DeleteUser", function (userName) {
        document.getElementById(userName).remove();
    });

    connection.on("InviteToGame", function (InviteSender) {
        console.log(InviteSender + " пригласил вас в игру");
    });

    connection.start().then(function () {

        connection.invoke("Connect", user).catch(function (err) {
            return console.error(err.toString());
        });

    }).catch(function (err) {
        return console.error(err.toString());
    });

    function AddUser(name) {       
        if (user != name) {
            var input = document.createElement("input");
            document.getElementById("messagesList").appendChild(input);
            input.value = `${name}`;
            input.id = name;
            input.type= "button";
            input.className = "UserList";

            document.getElementById(name).addEventListener("click", function (event) { 
                console.log("Send invite to " + name);
                connection.invoke("SendInvite", name).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });
        }
    }

</script>

